body{
	
}
header{
	background-color: white;
	color: red;
}
footer{
	background-color: white;
}
form{
	
	margin-top: 20px;
	
	padding-left: 35%;
	color: white ;
	background-color: #ac8fc5;


}
input{
	margin: 10px 7.5px;
	


}
.labels{
	 display: inline-block;
     width:100px;
     text-align: right;
}
.submit{
	color: white;
	background-color: black;
	margin-left: 15em;


}
.aligning{
	    text-align: center;
		margin-left: 20px;

}
.both{
	display: flex;
	flex-direction: row;
}
